@CHARSET "UTF-8";

body
{
	margin: 0px 0px 0px 0px; 
	background-color: #222222;
}

.navbar 
{
  min-height: 40px;
  margin-bottom: 0px;
}

.lightTxt
{
	color: #ebebeb;
}

.shadowed
{
	color: #ebebeb;
	font-size: 24pt;
	text-shadow: 5px 5px 10px #E0DFDB;
}

.jumbotron
{
  margin-top: 40px;
  background: url("../img/algorithmist.jpg") top center no-repeat;
  background-size: cover;
  min-height: 279px;
  color: #333333;
}

div.padded 
{  
  padding-top: 10px;  
  padding-right: 0px;  
  padding-bottom: 10px;  
  padding-left: 0px;  
}

/* CSS Created by CSS CHECKBOX */
/**********************************/
/**** www.CSScheckbox.com *********/

/*general styles for all CSS Checkboxes*/
label {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

input[type=checkbox].css-checkbox {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:20px;
  height:15px; 
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}

.css-label{
  background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
}

/*specific classes related to Checkbox skins*/

.lite-green-check{background-image:url(http://csscheckbox.com/checkboxes/lite-green-check.png);}
.mac-style{background-image:url(http://csscheckbox.com/checkboxes/mac-style.png);}
.elegant{background-image:url(http://csscheckbox.com/checkboxes/elegant.png);}
.depressed{background-image:url(http://csscheckbox.com/checkboxes/depressed.png);}

input[type=checkbox].css-checkbox.med + label.css-label.med {
  padding-left:22px;
    height:17px; 
  display:inline-block;
  line-height:17px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.med:checked + label.css-label.med {

    background-position: 0 -17px;
}
input[type=checkbox].css-checkbox.sme + label.css-label.sme {
  padding-left:22px;
    height:16px; 
  display:inline-block;
  line-height:16px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.sme:checked + label.css-label.sme{

    background-position: 0 -16px;
}
input[type=checkbox].css-checkbox.lrg + label.css-label.lrg {
  padding-left:22px;
    height:20px; 
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
    cursor:pointer;
}

input[type=checkbox].css-checkbox.lrg:checked + label.css-label.lrg{

    background-position: 0 -20px;
}